.main {
    display: flex;
    margin-top: 5rem;
    gap: 4rem;
    justify-content: space-between;
    padding-bottom: 20px;
}
.parent_main {
    border-bottom: 2px solid var(--light-text);
    margin-bottom: 50px;
}
.filter-products {
    flex: 0.5;
}
.filter__form {
    margin-bottom: 3rem;
}
.filter__form__title {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1rem;
}
.number-input__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.number-input:first-child {
    position: relative;
}
.number-input:first-child::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 108%;
    transform: translateY(-50%);
    height: 0.2px;
    width: 4px;
    background-color: #000;
}
.number-input {
    width: 46%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--light-text);
}
.number-input__span input {
    /* display: flex; */
    padding: 0 0 0 1rem;
    font-size: 1.2rem;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    /* align-items: center; */
}
.number-input__buttons {
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--light-text);
}
.number-input__buttons span:not(:last-child) {
    border-bottom: 1px solid var(--light-text);
}
.number-input__buttons span {
    padding: 0 0.5rem;
    cursor: pointer;
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.2;
}
.products {
    flex: 2;
    padding: 2rem;
    margin-bottom: 2rem;
}
.products__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.products__header-view {
    display: flex;
}
/* select Input component */
.select__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 3rem;
}
.select__label {
    margin-right: 0.6rem;
    text-transform: uppercase;
}
.select-input__wrapper {
    border: 1px solid var(--light-text);
    position: relative;
}
.select-input {
    cursor: pointer;
    border: none;
    outline: none;
    appearance: unset;
    width: 100%;
    background-color: transparent;
    padding: 0.8rem 0 0.8rem 1rem;
}
.select-input__wrapper button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border: inherit;
    z-index: -2;
    color: #818181;
}
.products__header-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.products__header-icons div {
    border: 1px solid var(--light-text);
    padding: 0.8rem;
    cursor: pointer;
}
.products__header-icons div svg {
    width: 1.2rem;
    height: 1.2rem;
}
.products__header-icon--active {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
}
.products__body {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.products__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}
.product_pagination {
    display: flex;
    gap: 33px;
    align-items: center;
}
.active {
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: #fff;
}
/*mainfooter*/
.parent_main_footer {
    position: relative;
    z-index: 100;
}
.main_footer {
    text-align: center;
}
.main_footer_header_text1 {
    color: var(--gray-text-color);
    font-weight: bold;
    margin-right: 2px;
}
.main_footer_header_text2 {
    color: var(--dark-color);
    font-weight: bold;
}
.main_footer_subscribe {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.main_parent_input_btn {
    width: 350px;
    display: flex;
    justify-content: space-around;
    gap: 80px;
    border-radius: 8px;
    border: 1px solid var(--light-text);
    position: relative;
    height: 30px;
}
.main_footer_subscribe_input {
    border: none;
    outline: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin-left: 10px;
    z-index: 100;
    opacity: 1;
}
.main_footer_parent_btn {
    display: flex;
    height: 100%;
    align-items: center;
    background-color: var(--primary-color);
    position: absolute;
    right: 0;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    padding: 7px 12px;
    color: #fff;
}
.main_footer_subscribe_icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.main_footer_subscribe_btn {
    background-color: inherit;
    border: none;
    outline: none;
    color: #fff;
}
.main_footer_icons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 15px;
    margin-bottom: 20px;
}
.div_main_footer_icon {
    padding: 10px;
    width: 35px;
    height: 35px;
    border: 1px solid var(--light-text);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_footer_icon {
    width: 23px;
    height: 23px;
}
.main_footer_icon_background {
    position: absolute;
    bottom: -55px;
    left: 190px;
    z-index: -100;
    opacity: 1;
    color: var(--light-text);
}
.icon_background_main {
    width: 200px;
    height: 200px;
    transform: rotate(32deg);
}