.product_cart {
    width: 32%;
    border: 1px solid var(--light-text);
    margin-bottom: 18px;
    position: relative;
    padding: 3rem 0;
}
.product_cart:first {
    background-color: red;
}
.product_cart:hover {
    .product_cart_add {
        display: flex !important;
    }
    border: 1px solid var(--primary-color) !important;
    cursor: pointer;
}
.product_cart_top {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    text-align: center;
}
.product_cart_off {
    border-color: #fff;
    padding: 2px 4px;
    color: var(--primary-color);
    margin-right: 5px;
    border: 1.5px solid var(--primary-color);
}
.product_cart_new {
    background-color: var(--primary-color);
    color: #fff;
    padding: 3px 5px;
}
.product_cart_image {
    width: 16rem;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
}
.product_cart_image img {
    width: 90%;
    height: 90%;
}
.product_cart_category {
    text-align: center;
    margin-top: 55px;
    color: #818181;
}
.product_cart_description {
    text-align: center;
    font-weight: bold;
    margin-top: 6px;
    font-size: 1.2rem;
}
.product_cart_discount {
    text-align: center;
    margin-top: 6px;
}
.product_cart_discount_main {
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--primary-color);
}
.product_cart_discount_delet {
    color: #818181;
}
.product_cart_stars {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: var(--primary-color);
    position: relative;
    z-index: 100;
}
.product_cart_stars::after {
    content: '';
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: var(--light-text);
    position: absolute;
    top: 4px;
    right: 0;
    left: 0;
    flex-direction: row;
    z-index: -10;
}
.product_cart_footer_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.product_cart_footer_icons svg {
    width: 1.6rem;
    height: 1.6rem;
}
.product_cart_add {
    width: 100%;
    height: 5.5rem;
    background-color: var(--dark-color);
    cursor: pointer;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.product_cart_add_btn {
    outline: none;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 3rem;
    padding: 1rem 3rem;
    font-weight: bold;
    cursor: inherit;
}