.footer {
    border-top: var(--border-style);
}
.footer__newsletter {
    margin: 3rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__newsletter-title {
    margin-bottom: 2rem;
    font-weight: 100;
}
.social-media__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}